/* body/baseline css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', serif;
  background-image: url('../../images/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-color: rgb(0, 72, 255);
  justify-content: center;
}

.page {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: filter 0.3s ease;
  cursor: pointer;
}

a:hover {
  filter: contrast(125%);
}

.site-header {
  font-family: 'Ringbearer', fantasy;
  background-color: #ff0000;
  border: 10px ridge grey;
  text-align: center;
  width: 60%;
  margin: 5px auto;
  padding: 10px;
}

.site-header h3,
.site-header .intro {
  font-family: 'MaturaMTSC', cursive;
  font-style: italic;
}

/* Page animation */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Size responsiveness */
@media(max-width:768px) {
  .card-content {
    flex-direction: column;
  }
}

@media(max-width:480px) {
  .friend-gallery {
    grid-template-columns: 1fr;
  }
}
