/* body/baseline css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', serif;
  background: url('../../images/background.png') no-repeat center bottom;
  background-size: auto;
  height: 100%;
  margin: 0;
}

.page {
  opacity: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: filter 0.3s ease;
}

a:hover {
  filter: contrast(125%);
  cursor: pointer;
}

.site-header {
  font-family: 'Ringbearer', fantasy;
  background-color: #ff0000;
  border: 10px ridge grey;
  border-radius: 15px;
  text-align: center;
  width: 66%;
  margin: 5px auto;
  padding: 10px;
  box-shadow: 2px 2px 5px black;
}

.site-header h3,
.site-header .intro {
  font-family: 'MaturaMTSC', cursive;
  font-style: italic;
}

a {
  text-decoration: none;
}

/* the footer */
.footer {
  background-color: rgba(100, 149, 237, 0.55);
  border-top: 8px groove rgb(197, 118, 0);
  padding: 2%;
  min-height: 300px;
}

/* Default link styles for footer */
.footer-links {
  display: block;
  margin: 5px auto;
  text-align: center;
  font-family: 'Minecraft', sans-serif;
  font-size: 16px;
  text-shadow: 2px 2px 7px rgb(77, 52, 41);
}

.footer-links ul {
  list-style-type: none;
  padding-left: 0;
}

/* List background styles */
.footer-links li {
  width: fit-content;
  margin: 10px auto;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  background-color: rgba(38, 0, 255, 0.65);
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
}

/* Anchor link styles for footer */
.footer-links a {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: italic;
  line-height: 1.5;
  text-decoration: none;
  transition:
    transform 0.3s ease,
    text-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out,
    filter 0.3s ease-in;
}

/* footer links hover effects */
.footer-links a:hover {
  color: rgb(255, 165, 0);
  transform: scale(1.2);
  text-shadow:
    0 0 5px rgb(255, 165, 0),
    0.5px 0.5px 10px #ff7846,
    1px 1px 20px #ff7129;
}

.footer-links a:active {
  filter: invert(100%);
}

/* Size responsiveness */
@media(max-width:768px) {
  .card-content {
    flex-direction: column;
  }
}

@media(max-width:480px) {
  .friend-gallery {
    grid-template-columns: 1fr;
  }
}