/* body/baseline css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', serif;
  background-image: url('../../images/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: contain;
  background-color: rgb(0, 72, 255);
  justify-content: center top;
}

.page {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: filter 0.3s ease;
  cursor: pointer;
}

a:hover {
  filter: contrast(125%);
}

.site-header {
  font-family: 'Ringbearer', fantasy;
  background-color: #ff0000;
  border: 10px ridge grey;
  border-radius: 15px;
  text-align: center;
  width: 66%;
  margin: 5px auto;
  padding: 10px;
  box-shadow: 2px 2px 5px black;
}

.site-header h3,
.site-header .intro {
  font-family: 'MaturaMTSC', cursive;
  font-style: italic;
}

.footer {
  background-color: cornflowerblue;
  padding: 2%;
  border-top: 5px solid black;
}

.footer-content {
  display: block;
  font-family: monospace;
  margin: 2px;
  font-size: 15px;
  text-shadow: 2px 2px 2px black;
  text-align: center;
}

.footer-content a {
  display: inline-block;
  color: #dadada;
  line-height: 1.5;
  text-decoration: none;
  font-style: italic;
  transition: transform 0.3s ease, text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer-content a:hover {
  color: orange;
  transform: scale(1.2);
  text-shadow: 0 0 5px orange, 0.5px 0.5px 10px #ff7846, 1px 1px 20px #ff7129;
}

/* Page animation */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Size responsiveness */
@media(max-width:768px) {
  .card-content {
    flex-direction: column;
  }
}

@media(max-width:480px) {
  .friend-gallery {
    grid-template-columns: 1fr;
  }
}