/* navigation buttons css */
.site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 2rem auto;
  max-width: 900px;
  max-height: 600px;
}

.nav-link {
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.2s ease;
}

.home-btn {
  font-family: 'MaturaMTSC';
  background-color: #ffa600;
  color: #C8C8C8;
  border: 4px solid #000000;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-shadow: 2px 2px 2px black;
}

.home-btn:hover {
  background-color: #000000;
  transform: scale(1.10);
  color: #C8C8C8;
}

.nomore-btn {
  font-family: 'Sigil Sans';
  background-color: black;
  color: orchid;
  border: 4px solid darkmagenta;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-shadow: 2px 2px 2px black;
}

.nomore-btn:hover {
  background-color: darkmagenta;
  transform: scale(1.10);
}

.adan-btn {
  font-family: 'Saiyan Sans';
  font-size: 30px;
  background-color: #ce0a0a;
  color: red;
  border: 4px ridge darkred;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-shadow: 2px 2px 2px black;
}

.adan-btn:hover {
  background-color: darkred;
  color: red;
  transform: scale(1.1);
  border: 4px solid darkred;
}

.latravion-btn {
  font-family: 'happy';
  font-size: 40px;
  background-color: black;
  color: #B83218;
  border: 4px solid #a20000;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  text-shadow: 1px 1px 2px black;
}

.latravion-btn:hover {
  background-color: #A20000;
  color: black;
  transform: scale(1.10);
}