/* specific friends styles css */
.home-page .friend {
  max-width: 90%;
  padding: 15px;
  border: 11px ridge #4B0082;
  border-radius: 15px;
  background-color: #5558ff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.home-page .card-content {
  display: flex;
  gap: 20px;
  font-family: 'MaturaMTSC', Matura MT Script Capitals, cursive;
  font-size: 1rem;
  width: 90%;
  font-weight: bold;
  color: #8C8B8B;
  text-shadow: 2px 2px 2px black;
}

.home-page .friend-name {
  color: #8c8b8bde;
  background-color: #011a55;
  border: 4px solid #a6a6a6;
  border-radius: 7px;
  padding: 10px 20px;
  text-align: center;
  font-family: 'MaturaMTSC', cursive;
}

.home-page .friend-image {
  max-width: 100%;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  border: 5px outset #011a55;
  transition: transform 0.3s ease-in-out;
}

.home-page .friend-gallery {
  /* Home card and images */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  max-width: 700px;
  max-height: 520px;
  border: 5px inset #011a55;
  padding: 5px;
  gap: 1px;
}

/* No'more section */
.nomore-page .friend {
  max-width: 90%;
  padding: 15px;
  border: 11px ridge darkmagenta;
  border-radius: 15px;
  background-color: #f3c1e8;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.nomore-page .card-content {
  display: flex;
  gap: 20px;
  font-family: 'Sigil Sans', 'MaturaMTSC', cursive, Matura MT Script Capitals;
  /* MaturaMTSC is a fallback for numbers and uppercase letters, along with cursive if Sigil Sans isn't available */
  font-size: 1rem;
  width: 90%;
  font-weight: bold;
}

.nomore-page .friend-name {
  color: orchid;
  background-color: black;
  border: 4px solid darkmagenta;
  padding: 10px 20px;
  font-family: 'Sigil Sans';
}

.nomore-page .friend-image {
  max-width: 100%;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  border: 5px outset darkmagenta;
}

.nomore-page .friend-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  max-width: 700px;
  max-height: 520px;
  border: 5px double darkmagenta;
  padding: 5px;
  gap: 1px;
}

/* Adan section */
.adan-page .friend {
  max-width: 90%;
  padding: 15px;
  border: 11px ridge darkred;
  border-radius: 15px;
  background-color: #ff7171;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.adan-page .friend-name {
  font-family: 'Saiyan Sans';
  font-size: 65px;
  color: red;
  background-color: #AA2020;
  padding: 15px;
  border: 10px ridge darkred;
}

.adan-page .friend-desc {
  font-family: 'manga-bold';
  font-size: 20px;
}

.adan-page .friend-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  border: 5px solid red;
  padding: 5px;
  gap: 5px;
}

.adan-page .friend-image {
  max-width: 100%;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  border: 5px ridge #FF0000;
}

/* Latravion section */
.latravion-page .friend {
  max-width: 90%;
  padding: 15px;
  border: 11px ridge darkred;
  border-radius: 15px;
  background-color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.latravion-page .friend-name {
  font-family: 'happy';
  font-size: 65px;
  color: #FF1111;
  background-color: #250000;
  padding: 15px;
  border: 10px ridge darkred;
}

.latravion-page .friend-desc {
  font-family: 'ascend';
  font-size: 20px;
  color: red;
}

.latravion-page .friend-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 8px;
  max-width: 700px;
  border: 5px groove red;
  padding: 7px;
  justify-content: center;
}

.latravion-page .card-content {
  display: flex;
  gap: 20px;
  font-family: 'ascend', cursive;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  font-weight: bold;
  align-items: flex-start;
}

.latravion-page .friend-image {
  max-width: 100%;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  border: 8px ridge #AC1111;
}

.latravion-page .friend-image.wide {
  grid-column: span 2;
  aspect-ratio: 2 / 1;
}

/* Custom fonts */
@font-face {
  font-family: 'Sigil Sans';
  src: url('../../fonts/Sigil Sans.otf') format('opentype');
}

/* No'more font */
@font-face {
  font-family: 'MaturaMTSC';
  src: url('../../fonts/MaturaMTSC.TTF') format('truetype');
}

/* Subheader font */
@font-face {
  font-family: 'Ringbearer';
  src: url('../../fonts/ringbearer.TTF') format('truetype');
}

/* Header font */
@font-face {
  font-family: 'Saiyan Sans';
  src: url('../../fonts/Saiyan-Sans.ttf') format('truetype');
}

/* Adan font */
@font-face {
  font-family: 'manga-bold';
  src: url('../../fonts/manga_speak_bold.ttf') format('truetype');
}

/* Adan sub font */
@font-face {
  font-family: 'Happy';
  src: url('../../fonts/Happy New Year.ttf') format('truetype');
}

/* Latravion font */
@font-face {
  font-family: 'Ascend';
  src: url('../../fonts/Ascender.ttf') format('truetype');
}